.feature {
  box-sizing: border-box;
  background: #000428;
  background: -webkit-linear-gradient(to bottom, #2f0086, #1f003d);
  background: linear-gradient(to bottom, #350097, #220044);
  color: #fff;
  padding: 2rem;
}
.featureHeader {
  padding-bottom: 10px;
}
.featuresImg {
  display: block;
  height: 25px;
}
.subHeading {
  font-size: large;
  padding: 10px 0;
}
.para {
  font-size: 12px;
  line-height: 20px;
}
