.hero-header {
  background: #eadef3;
  background: -webkit-linear-gradient(to bottom, #f3e8fc, #ffffff);
  background: linear-gradient(to bottom, #f3e8fc, #ffffff);
}
.hero-heading {
  padding-bottom: 10px;
}
.headerOne {
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  padding-top: 50px;
}
.headerTwo {
  text-align: center;
  padding: 0;
  margin: 0;
}
.header_img {
  display: flex;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 25px;
}
